{% extends 'base/main.html' %}

{% block content %}
<div class="row page-titles mx-0">
    <div class="col p-md-0">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
            <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
        </ol>
    </div>
</div>
<!-- row -->

<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
    <h1>Características y funciones del sistema</h1>
    <hr>
    <br>
    <p>Sistema de gestión de inventario e información para registrar los movimientos y hacer un seguimiento de las cantidades de mercancías existentes en la empresa y garantizar el aprovisionamiento de mercancías y reducir los costos por pérdida y por material faltante y mantener un orden de almacenamiento.</p>

    <h3>• Gestión y administración</h3>
    <p>El sistema ayuda en la gestión de entradas y salidas de registros de materiales en la empresa.</p>
    <p>Todo registro que se haga en el sistema, queda grabado para tener mejor control sobre los materias que entran y salen.</p>
    <br>

    <h3>• Registro de material</h3>
    <p>El sistema puede registrar nuevos materiales.</p>

    <br>

    <h3>• Entrada y salida de material</h3>
    <p>Es importante saber cuando entra y sale un material ya que esto ayuda a mantener un control sobre lo que hay y no hay dentro de la empresa.</p>
    <br>

    <h3>• Visualización de todos los materiales en existencia</h3>
    <p>Fácil visualización y búsqueda de registros dentro de la base de datos del sistema para mayor rapidez y agilidad al momento de consultar los materiales.</p>
    <br>
</div>
</div>
</div>
</div>
</div>
{% endblock %}